<hr />
<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <h3 style="text-align: center; color:dodgerblue">Burger Menu</h3>
      <ul>
        {{!-- renders list of burgers in cards from burgers table in burgers_db --}}
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block eaten=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-6">
      <h3 style="text-align: center; color:dodgerblue">Off Menu Items</h3>
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block eaten=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">

  $("#orderBurger").on("submit", function (event) {
    // Make sure to preventDefault on a submit event.
    console.log(event)
    event.preventDefault();

    // [name=burger] will find an element with a "burger" attribute equal to the string "burger_name"
    var newBurger = {
      burger_name: $("#orderBurger [name=burger]").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function () {
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $(".delBurger").on("click", function (event) {
    var id = $(this).data("burgerid");

    // Send the DELETE request.
    $.ajax("/api/burgers/" + id, {
      type: "DELETE"
    }).then(
      function () {
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

    $(".offMenu").on("click", function(event) {
    var id = $(this).data("id");
    var eatenState = $(this).data("beeneaten").valueOf()
  
    var newEatenState = {
      devoured: eatenState
    };
    
    $.ajax("/api/burgers/" + id, {
      type: "PUT",
      data: newEatenState
    }).then(
      function() {
        console.log("changed devoured to", eatenState);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

</script>