ul {
    list-style-type: none;
}
.header {
    height:8em;
   
}

.header h1 {
    text-align: center;
    font-size: 70px;
    color: dodgerblue;
    font-weight: 900;
}

.order-card {
    margin-top: 5em;
    -webkit-box-shadow: 4px 6px 20px -1px rgba(0,0,0,0.40);
    -moz-box-shadow: 4px 6px 20px -1px rgba(0,0,0,0.40);
    box-shadow: 4px 6px 20px -1px rgba(0,0,0,0.40);
}

.burgerImg .img {
    width: 100%;
}
